<app-practise-component></app-practise-component>
<app-item></app-item>




<ul><li><a routerLink="item" routerLinkActive="active" >Item</a></li>
    <li><a routerLink="crud" routerLinkActive="active">crud</a></li>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >my crud</a></li>
    <li><a [routerLink]="['loop']" routerLinkActive="active">loop</a></li>
</ul>
<h1>Custom Pipe</h1>
<b>Square root of 25 is: {{25 | sqrt}}</b>
<br/>
<b>Square root of 729 is: {{729 | sqrt}}</b>
<!-- <ul><li><a href="/item">Item</a></li>
    <li><a href="/crud">crud</a></li>
    <li><a href="/myCrud">my crud</a></li>
    <li><a href="/loop">loop</a></li>
</ul> -->
<app-item (childEvent)="message=$event" [parentData]="messageCommunication"></app-item>
<br>
<router-outlet></router-outlet>
<button class="btn btn-primary" (click)="loadCrud()">Navigate To Crud</button>