<!-- <input type="text" placeholder="student name" [(ngModel)]="StudName" #StName/>
<input type="text" placeholder="student id" [(ngModel)]="StudId" #StId/>
<button type="button" (click)="addData(StName.value,StId.value)">ADD</button>

<table>
  <tr>
    <td>Student Name</td>
    <td>Student ID</td>
    <td>Actions</td>
  </tr>
  <tr *ngFor="let stud of studentData">
    <td>{{stud.Sname|uppercase}}</td>
    <td>{{stud.Sid}}</td>
    <td><button type="button" (click)="delete(index)">Delete</button>
  </tr>
  <tr><td>{{StudName}}</td><td>{{StudId}}</td></tr>
</table> -->

<h1>Hello welcome to my application</h1>

